<?xml version="1.0" ?>
 <arcane-config code-name="Quicksilver">
  <time-loops>
    <time-loop name="QuicksilverLoop">
      <title>QS</title>
      <description>Default timeloop for code Quicksilver</description>

      <modules>
        <module name="QS" need="required" />
        <!-- <module name="InitMC" need="required" /> -->
      </modules>

      <entry-points where="init">
        <entry-point name="QS.StartInit" />
      </entry-points>

      <entry-points where="compute-loop">
        <entry-point name="QS.CycleInit" />
        <entry-point name="QS.CycleTracking" />
        <entry-point name="QS.CycleFinalize" />
      </entry-points>

      <entry-points where="exit">
        <entry-point name="QS.GameOver" />
      </entry-points>
    </time-loop>
  </time-loops>
</arcane-config>
