<?xml version="1.0" ?>
 <arcane-config code-name="Quicksilver">
  <time-loops>
    <time-loop name="QAMALoop">
      <title>QS</title>
      <description>Default timeloop for code Quicksilver Arcane MiniApp</description>

      <singleton-services>
        <service name="SimpleCsvOutput" need="required" />
        <service name="RNG" need="required" />
      </singleton-services>

      <modules>
        <module name="QS" need="required" />
        <module name="SamplingMC" need="required" />
        <module name="TrackingMC" need="required" />
      </modules>

      <entry-points where="init">
        <entry-point name="QS.InitModule" />
        <entry-point name="SamplingMC.InitModule" />
        <entry-point name="TrackingMC.InitModule" />
        <entry-point name="QS.StartLoadBalancing" />
      </entry-points>

      <entry-points where="compute-loop">
        <entry-point name="SamplingMC.CycleSampling" />
        <entry-point name="TrackingMC.CycleTracking" />
        <entry-point name="QS.CycleFinalize" />
        <entry-point name="SamplingMC.CycleFinalize" />
        <entry-point name="TrackingMC.CycleFinalize" />
        <entry-point name="QS.LoopLoadBalancing" />
      </entry-points>

      <entry-points where="on-mesh-changed">
        <entry-point name="QS.AfterLoadBalancing" />
      </entry-points>

      <entry-points where="exit">
        <entry-point name="SamplingMC.EndModule" />
        <entry-point name="TrackingMC.EndModule" />
        <entry-point name="QS.EndModule" />
      </entry-points>
    </time-loop>
  </time-loops>
</arcane-config>
