<?xml version="1.0" ?>
 <arcane-config code-name="ArcaneLoopsBench">
  <time-loops>
    <time-loop name="ArcaneLoopsBenchLoop">
      <title>ArcaneLoops</title>
      <description>Default timeloop for code ArcaneLoopsBench</description>

      <modules>
        <module name="ArcaneLoops" need="required" />
      </modules>

      <entry-points where="init">
        <entry-point name="ArcaneLoops.StartInit" />
      </entry-points>
      <entry-points where="compute-loop">
        <entry-point name="ArcaneLoops.Compute" />
      </entry-points>
    </time-loop>
  </time-loops>
</arcane-config>
