<?xml version="1.0"?>
<arcane-config code-name="Synchronize">

 <time-loops>

  <time-loop name="SynchronizeLoop">
    <title>Synchronize</title>
    <description>
      Boucle en temps de Synchronize
    </description>

    <modules>
      <module name="Synchronize" need="required" />
    </modules>

    <entry-points where="compute-loop">
      <entry-point name="Synchronize.SY_DoOneIteration" />
    </entry-points>


  </time-loop>
 </time-loops>
</arcane-config>
